.react-datepicker__time-list-item--selected {
  background-color: #3cb371 !important;
  color: #fff;
}

.time-input {
  width: 100%;
  height: 33px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #929292;
  cursor: pointer;
  font-size: 15px;
}

.react-datepicker__time-container {
  width: 150px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 150px;
}
